<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px auto;
        background-color: black;
        width: 400px;
        padding: 12px 24px;
        border-radius: 34px;


        a {
            text-decoration: none;
            color: white;
            padding: 8px 24px;
            font-family: sans-serif;
            transition: all .3s ease;
            margin: 0px 5px;
            border: 2px solid transparent;
        }

        a:hover {
            border: 2px solid gray;
            transition: all .3s ease;
            background-color: white;
            color: black;
            border-radius: 24px;
            box-shadow: inset 0px 5px 10px gray, inset 0px -5px 10px rgb(78, 78, 78);
        }

        a.active {
            border: 2px solid gray;
            transition: all .3s ease;
            background-color: white;
            color: black;
            border-radius: 24px;
            box-shadow: inset 0px 5px 10px gray, inset 0px -5px 10px rgb(78, 78, 78);
        }
    }
</style>

<body>
    <nav>
        <a href="http://localhost:9090/">Home</a>
        <a href="http://localhost:9090/note/newnote" class="active">New Note</a>
        <a href="http://localhost:9090/api/allnotes">JSON</a>
    </nav>


    <div class="newNote">
        <form action="/note/newnote" method="POST">
            <input type="text" placeholder="Type Your note..." name="note">
            <input type="text" placeholder="Any Note description ?" name="description">
            <button>Add Note</button>
            <button>Reset</button>
        </form>
        <p>
            <% if (locals.msg) { %>
                <p>
                    <%= msg %>
                </p>
                <% } %>
        </p>
    </div>

</body>

</html>